@model Movie.Services.Models.TbMovie;
@inject Movie.Services.Models.webphimContext context;

@{
    List<Movie.Services.Models.TbMovie> relatedMovies = new List<Movie.Services.Models.TbMovie>();
}

@*<p><span>URL : </span>@TopMovie.Helpers.FriendlyUrlHelper.GetFriendlyTitle(Model.MovieName, true, 120)</p>*@

<div class="box box-solid">
    <div class="box-header with-border">
        
        <h2 class="box-title"><i class="fa fa-film"></i>&nbsp;@Model.MovieName</h2>
    </div>

    <!-- /.box-header -->
    <div class="box-body">
        @Html.Raw(Model.GoogleDrive.Split(",")[0])
        @*<div id="jw-player"></div>*@
        @*@Html.Raw(@Model.GoogleDrive)*@
        <div id="player-tool-left">
            <a id="button_thumbs-up" class="watch-movie-icon"><i class="fa fa-thumbs-up"></i><span> Like it </span></a>&nbsp;
            <a id="button_thumbs-down" class="watch-movie-icon"><i class="fa fa-thumbs-down"></i><span> Dislike </span></a>&nbsp;
            <a href="@Model.GoogleDrive.Split(",")[1]" id="button_download" class="watch-movie-icon"><i class="fa fa-download"></i><span> Download </span></a>&nbsp;
            <a id="button_expand" class="watch-movie-icon"><i class="fa fa-arrows-alt"></i><span> Expand </span></a>&nbsp;
            <a id="button_next" class="watch-movie-icon"><i class="fa fa-toggle-right"></i><span> Next Scene </span></a>
        </div>
    </div>
</div>

<div class="box box-solid">
    <div class="box-header with-border">
        <i class="fa fa-text-width"></i>
        <input type="hidden" id="movie-url" value="@Model.GoogleDrive.Split(",")[1]" />
        <h3 class="box-title">Movie Information:</h3>
    </div>

    <!-- /.box-header -->
    <div class="box-body">
        <dl class="dl-horizontal">
            <dt>ID Code:</dt>
            <dd>@Model.ImdbId</dd>
            <dt>Release Date:</dt>
            <dd>@Model.ReleaseDate.Value.ToString("yyyy-MM-dd")</dd>
            <dt>Category:</dt>
            <dd>
                @foreach (var category in Model.CategoryTag.Split(","))
                {
                    <a href="@Url.Content("/category/" + category)" target="_self">@category</a><span>,</span>
                    if (context.TbMovie.Any(m => m.CategoryTag.IndexOf(category) > -1))
                    {
                        relatedMovies.Add(context.TbMovie.FirstOrDefault(m => m.CategoryTag.Contains(category)));
                    }
                }
            </dd>
            <dt>Tags:</dt>
            <dd>
                @foreach (var tag in Model.MovieTag.Split(","))
                {
                    <a href="@Url.Content("/tag/" + tag)" target="_self">@tag</a>
                    if (context.TbMovie.Any(m => m.MovieTag.IndexOf(tag) > -1))
                    {
                        relatedMovies.Add(context.TbMovie.FirstOrDefault(m => m.MovieTag.Contains(tag)));
                    }
                }
            </dd>
            <dt>Actress: </dt>
            <dd>
                @foreach (var actor in Model.ActorTag.Split(","))
                {
                    <a href="@Url.Content("/actor/" + actor )" target="_self">@actor</a>
                    if (context.TbMovie.Any(m => m.ActorTag.IndexOf(actor) > -1))
                    {
                        relatedMovies.Add(context.TbMovie.FirstOrDefault(m => m.ActorTag.Contains(actor)));
                    }
                }
            </dd>
        </dl>
    </div>
</div>
<div class="box box-solid">
    <div class="box-header with-border">
        <i class="fa fa-reply"></i>
        <h3 class="box-title">Leave a reply:</h3>
    </div>

    <!-- /.box-header -->
    <div class="box-body">
        <div class="box-body">
            <div id="form-comment">
                <div class="row">
                    <div class="col-md-12">
                        <!-- textarea -->
                        <div class="form-group">
                            <textarea id="comment" class="form-control" name="comment" rows="3" placeholder="Join the discussion ..."></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- text input -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                            </div>
                            <input id="name" type="text" class="form-control" name="name" placeholder="Name" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2"><i class="fa fa-envelope"></i></span>
                            </div>
                            <input id="email" type="email" class="form-control" name="email" placeholder="Email" aria-describedby="basic-addon2" />
                        </div>
                    </div>
                </div>
                <button id="submit-comment" onsubmit="PostComment()" type="submit" class="btn btn-block btn-primary">Post Comment</button>
            </div>
        </div>
        <hr class="cm-hr" />
        <!-- Construct the box with style you want. Here we are using box-danger -->
        <!-- Then add the class direct-chat and choose the direct-chat-* contexual class -->
        <!-- The contextual class should match the box, so we are using direct-chat-danger -->
        <div id="comment-box">
            @Html.Partial("_PartialCommentBox", context.TbComment.Where(c => c.MovieId == Model.Id).ToList())
        </div>

        <!--/.direct-chat -->
        @*</div>*@
    </div>
</div>

<div class="box box-solid">
    <div class="box-header with-border">
        <i class="fa fa-link"></i>
        <h3 class="box-title">Related videos:</h3>
    </div>

    <!-- /.box-header -->
    <div class="box-body">
        @{
            relatedMovies = relatedMovies.Distinct().Take(8).ToList();
        <div class="row">
            @foreach (var movie in relatedMovies)
        {
            <div class="col-md-3">
                <a href="@Url.Content("/movie/" + @movie.Id)" target="_self">
                    <img id="movie-box" class="movie-img-related img-responsive" src="@movie.ImageUrl" alt="@movie.MovieName">
                </a>
                <a href="@Url.Content("/movie/" + @movie.Id)" target="_self">
                    <div class="movie-title">
                        <h6 class="text-bold">@movie.MovieName</h6>
                    </div>
                </a>
            </div>
    }
        </div>
        }
    </div>
</div>
<script src="~/dist/jquery/dist/jquery.min.js"></script>
@*<script src="https://cdn.jwplayer.com/libraries/DEi221lx.js"></script>*@
<script>
    $(document).ready(function () {
        @*var playerInstance = jwplayer("jw-player");
        playerInstance.setup({
            file: 'https://openload.co/f/5X7gIYDrp6g/JUY-276_My_Wife%27s_Secret_My_Wife_Doesn%27t_Know_What_I_Know..._Mako_Oda.webm.crdownload.mp4',
        });*@

        $("#submit-comment").click(function () {
             //e.preventDefault();
            var url = "/Home/PostComment";
            var comment = new Object();
            comment.Comment = $("#comment").val();
            comment.Email = $("#email").val();
            comment.Name = $("#name").val();
            comment.MovieId = @Model.Id;
            console.log('Doing ajax submit');
            $.ajax({
                type: "POST",
                url: url,
                data: JSON.stringify(comment),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#comment-box").load("@Url.Action("GetComment", "Home")", { movieId:@Model.Id });
                    $("#comment").val('');
                    $("#email").val('');
                    $("#name").val('');
                },
            })
        });
        $("#button_thumbs-up").click(function () {
             //e.preventDefault();
            var url = "/Movie/AdjustLike";
    
            $.ajax({
                type: "POST",
                url: url,
                data: JSON.stringify({ id: filter, upvote: true }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (data) {
                },
            })
        });
        $("#button_thumbs-down").click(function () {
             //e.preventDefault();
            var url = "/Movie/AdjustLike";
            $.ajax({
                type: "POST",
                url: url,
                data: JSON.stringify({ id: filter, upvote: false }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (data) {
                },
            })
        });
    });
</script>