@model CategoriesMoviesModel;
@{
    ViewData["Title"] = "Category COntroller";
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#modal-upload-movie">
                ADD CATEGORY
            </button>
            @*<input type="button" value="ADD" title="ADD" class="btn btn-block btn-success" />*@
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">List of the Movies</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Category movie</th>
                                <th>Movie name</th>
                                <th>Country</th>
                                <th>IMDB</th>
                                <th>Movie type</th>
                                <th>Release date</th>
                                <th>Trailer</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var movie in Model.movies)
                            {
                                <tr>
                                    <td>@movie.Category.CategoryName</td>
                                    <td>@movie.MovieName</td>
                                    <td>@movie.Country</td>
                                    <td>@movie.ImdbId</td>
                                    <td>@movie.MovieType</td>
                                    <td>@movie.ReleaseDate</td>
                                    <td>@movie.Trailer</td>
                                </tr>
                            }
                        </tbody>
                        @*<tfoot>
                                <tr>
                                    <th>Rendering engine</th>
                                    <th>Browser</th>
                                    <th>Platform(s)</th>
                                    <th>Engine version</th>
                                    <th>CSS grade</th>
                                </tr>
                            </tfoot>*@
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    @*<div id="modal-upload-movie">
            @Html.Partial("ModalUploadMovie.cshtml");
        </div>*@
</section>
<!-- /.content -->
<!-- /.content -->
<!-- DataTables -->
<script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<!-- page script -->
<script>
    $(function () {
        //$('#example1').DataTable()
        $('#example2').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    })
</script>