@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Watch JAV online in the best Japanese porn streaming tube. Handpicked JAV videos, English subbed, VR, download options and more. Updated daily!.">
    <title>AZ Jav - Japanese porn Tube ⋆ JAV streaming and download movies. Watch online the latest JAV movies and English subbed JAV free.</title>

    <!-- Bootstrap 4.2.1 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- DataTables -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.4.8/css/ionicons.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/AdminLTE.min.css" />
    <link rel="stylesheet" href="~/dist/css/scss/site.css">
    <link rel="stylesheet" href="~/dist/css/skins/skin-blue.min.css">
    <!-- iCheck -->
    @*<link rel="stylesheet" href="~/bower_components/admin-lte/plugins/iCheck/square/blue.css">*@
    <!-- Select 2 -->
    @*<link rel="stylesheet" href="~/dist/select2/dist/css/select2.min.css" />*@
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
    <link href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Anton|Coiny|Hammersmith+One|Oswald&amp;subset=latin-ext,tamil,vietnamese" rel="stylesheet">



</head>

<body class="hold-transition skin-blue sidebar-mini">
    <script scr="https://cdn.jwplayer.com/libraries/DEi221lx.js"></script>
    @*<script src="https://vjs.zencdn.net/ie8/ie8-version/videojs-ie8.min.js"></script>*@
    <!-- jQuery 3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    @*<script src="~/bowers/Microsoft.jQuery.Unobtrusive.Ajax/jquery.unobtrusive-ajax.min.js"></script>*@
    <!-- Bootstrap 4.2.1 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <!-- iCheck -->
    @*<script src="~/bower_components/admin-lte/plugins/iCheck/icheck.min.js"></script>*@
    <!-- AdminLTE App -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/js/adminlte.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
    
    <nav class="navbar navbar-expand-lg navbar-azjav bg-azjav">
        <a class="navbar-brand logo-text" href="/">
            <span class="logo-color-a">A</span>
            <span class="logo-color-z">Z</span>
            <span class="logo-color-1">Jav</span>
            <span class="logo-color-2">.</span>
            <span class="logo-color-1">net</span>
            <img class="logo-img" src="~/dist/img/header/28951A8.png" alt="AzJav" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="fa fa-bars fa-lg"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav top-menu mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle menu-item" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-film"></i>&nbsp;Movies
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item menu-item" href="@Url.Content("/ensubtitle")">Eng Subtitle</a>
                        <a class="dropdown-item menu-item" href="@Url.Content("/uncensor")">Uncensor</a>
                        <a class="dropdown-item menu-item" href="@Url.Content("/clip")">Video Clip</a>

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-item" href="@Url.Content("/hentai")"><i class="fa fa-paw"></i>&nbsp;Hentai</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle menu-item" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-tags"></i>&nbsp;Tags
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item menu-item" href="@Url.Content("/categories")">Categories</a>
                        <a class="dropdown-item menu-item" href="@Url.Content("/actresses")">Actresses</a>
                        <a class="dropdown-item menu-item" href="@Url.Content("/studios")">Studios</a>
                        <a class="dropdown-item menu-item" href="@Url.Content("/tags")">Tags</a>
                    </div>
                </li>
            </ul>
            <form asp-action="Search" asp-controller="Home" method="get" id="search-box">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search..." aria-label="Search..." aria-describedby="basic-addon2" name="query">
                    <div class="input-group-append">
                        <button type="submit" class="input-group-text" style="background: #9CAAC6;" id="basic-addon2"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                @*<div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button type="submit" class="input-group-text" style="background: #9CAAC6;" id="basic-addon2"><i class="fa fa-search"></i></button>
                        <span class="input-group-text" id="basic-addon2">@example.com</span>
                    </div>
                </div>*@
            </form>
</div>
        
    </nav>
    <div class="homepage-content container">
        <div class="row">
            <div class="col-md-9">
                @RenderBody()
            </div>
            @Html.Partial("_RightSection.cshtml")
        </div>
    </div>

    @Html.Partial("_FooterSection.cshtml")

    @RenderSection("Scripts", required: false)
</body>
</html>
