@model CategoriesMoviesModel;
<div class="row render-ajax">
    @foreach (var mv in Model.movies)
    {
        @*<a href="/Home/WatchMovie/@mv.Id" data-ajax="true" data-ajax-success="onSuccess" data-ajax-method="GET">
                WatchMovie
            </a>*@
        <div class="col-md-4">
            <div class="box">
                <div class="box-body box-profile">
                    <img class="movie-img img-responsive" src="@mv.ImageUrl" alt="@mv.MovieName">

                    <a href="@Url.Action("movie/" + @mv.Id)"><h3 class="profile-username text-bold">@mv.MovieName</h3></a>

                    <p class="text-muted">
                        <i class="fa fa-tags"></i>@mv.ActorTag
                    </p>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    }
</div>
<script>
    var onSuccess = function (context) {
        alert(context);
    };

    //function watchMovie(id) {
    //    $.ajax({
    //        type: 'GET',
    //        url: '/Home/WatchMovie/' + id,
    //        error: function (err) {
    //            console.log(err);
    //        },
    //        success: function (result) {
    //            $('.render-ajax').html(result);
    //        }
    //    })

    //}
</script>